# Collective Migration specific ignores
AMIGOS-invasion

# cpp
*.o

# PhysiCell
out*.xml
out*.mat
final*.xml
final*.mat
initial*.xml
initial*.mat
*.mp4
*.pov
*.avi
*.svg
*.jpg
*.png
*.exe
out*.txt

# Development
*.xcworkspace
.vscode*
*.ipch
*.pyc

# Mac specific
.DS_store

