name: Test Windows
run-name: ${{ github.actor }} 
on:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    defaults:
      run:
        shell: msys2 {0}

    steps:
    - uses: actions/checkout@v3

    - uses: msys2/setup-msys2@v2
      with:
        update: true
        install: base-devel flex bison gcc make diffutils mingw-w64-x86_64-toolchain mingw-w64-x86_64-ca-certificates
    
    - name: Build model
      run: |
        make
        
    - name: Run model
      run: |
        .\\AMIGOS-invasion
